<div class="jumbotron">
    <!--STRONA GŁÓWNA-->
    <h1>Miasto Nowa Sól</h1>
    <ul>
        <li>@Html.ActionLink("Ciekawe linki", "InterestingLinks", "Home")</li>
        <li>@Html.ActionLink("Lista zabytków", "GetListofMonuments", "Home")</li>
        <li>@Html.ActionLink("Atrakcje", "GetallAttractions", "Home")</li>
        <li>@Html.ActionLink("Wyslij wiadomość", "GetMessage", "Home")</li>
    </ul>
</div>