
@{
    ViewData["Title"] = "InterestingLinks";
}

<h2>InterestingLinks</h2>

<ul>
    <li><a href="http://www.nowasol.pl/#" target="_blank">Strona Nowej Soli</a></li>
    <li><a href="https://pl.wikipedia.org/wiki/Nowa_S%C3%B3l" target="_blank">Wikipedia o Nowej Soli</a></li>
    <li><a href="https://gazetalubuska.pl/wiadomosci/nowa-sol/" target="_blank">Wiadomości</a></li>
</ul>
