@model  List<string>
@{
    ViewData["Title"] = "GetListOfModels";
}

<h2>GetListOfModels</h2>
<ul>
    @foreach(var carModel in Model)
    {
        <li>@Html.ActionLink(carModel, "GetCarByModel", "Home", new {model = carModel }, null)</li>
    }
</ul>

