<div class="jumbotron">
    <!--STRONA GŁÓWNA-->
    <h1>ASP.NET MVC - Ćwiczenia</h1>
    <ul>
        <li>@Html.ActionLink("Ciekawe linki", "InterestingLinks", "Home")</li>
        <li>@Html.ActionLink("Tabela samochodów", "GetAllCars", "Home")</li>
        <li>@Html.ActionLink("Lista modeli samochodów", "GetListofModels", "Home")</li>
        <li>@Html.ActionLink("Formularz kontaktowy", "ContactForm", "Home")</li>
    </ul>
</div>