
@{
    ViewData["Title"] = "InterestingLinks";
}

<h2>InterestingLinks</h2>

<ul>
    <li><a href="https://www.google.pl/" target="_blank">Google</a></li>
    <li><a href="https://stackoverflow.com/" target="_blank">StackOverflow</a></li>
    <li><a href="https://www.youtube.com/" target="_blank">Youtube</a></li>
    <li><a href="https://www.flashscore.pl/" target="_blank">Livesports</a></li>
</ul>

