
.icon-user-1:before { content: '\e801'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-euro:before { content: '\f153'; } /* '' */
.icon-building-filled:before { content: '\f1ad'; } /* '' */