/*Styl opisu*/
#description{
    font-size: 30px;
    text-align: center;
    color: greenyellow;
}
/*Ciało strony*/
body{
    background-color:black;
}
/*Nagłówek*/
header{
    width: 100%;
    height:100px;
    background-color: black;
    color:white;
    font-size: 70px;
    text-align:center;
}
/*Styl akapitu sekcji*/
section p{
    text-align: center;
}
/*Styl przycisku*/
#button{
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}
/*Styl tabeli*/
#timesTable{
    width:90%;
    background-color: darkgrey;
}
/*Styl komórek w tabeli*/
#timesTable th, td{
    border:1px solid white;
    padding:15px;
    text-align:left;
}